html, body {
    margin: 0;
    padding: 0;
    }

/*Liens*/

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: white;
}
  
a:visited {
  color: white;
}
    
a:active {
  color: mediumturquoise;
}

/*logo menu*/

.logo{
    width: 150px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.carré{
    /*losange*/
    height: 70px;
    width: 70px;
    background: black;
    transform: rotate(45deg);
    /*position*/
    position: absolute;
    left: 165px;
    top: 200px;
}

/*menu*/
/*.menu li{}*/
    

.menu{
    z-index: 2;
}
.menu ul{
    list-style: none;
}

.essais{
    /*grid*/
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100vh, auto);
    /*attributs*/
}
/*barre noir*/
.container{
    /*grid*/
    grid-column: 1 / 2;
    grid-row: 1;
    /*attributs*/
    background-color: black;
    width: 200px;
}

.titre{
    /*grid*/
    grid-column: 2 / 2;
    grid-row: 1;
    /*attributs*/
}

/*teste animation*/

.menu li :hover{
  color: mediumturquoise;
  transition: all 1s ease-in-out;
}
